/* [nz-form] {
    max-width: 600px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }
  .layout {
    min-height: 100vh;
  }

  nz-header {
    position: fixed;
    width: 100%;
  }

  nz-content {
    padding: 0 100px;
    margin-top: 64px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    min-height: 380px;
  }

  nz-footer {
    text-align: center;
  }
  nz-date-picker {
    margin: 0 8px 12px 0;
  }
  .register{

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; 
   }
   .placeholder {
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
  }
  .inline {
    width: 80px !important;
    margin: 9px 9px 9px 0;
  }
  /* .layout {
    min-height: 100vh;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 24px 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }
  .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark, .ant-menu.ant-menu-dark .ant-menu-sub {
    color: rgba(255,255,255,.65);
    background: #000000;
}
nz-sider{
  background: #000000;

} */ 
.ant-upload.ant-upload-drag{
  height: 32% !important;
}