<form nz-form [nzLayout]="'vertical'" autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit()" [formGroup]="Form">
  <div nz-row [nzGutter]="{ xs: 8, sm: 6, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" nzSpan="6" style="margin-top: 100px;">


      <img nz-image zFlex="auto" nzSrc="assets/crud.png" alt="" style="  max-width: 100%;
        max-height: 100%;" />
    </div>


    <div nz-col class="gutter-row" nzSpan="6">

      <!-- Nom  -->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="nom">Nom</nz-form-label>
        <nz-form-control nzErrorTip="Nom Obligatoir!">
          <input nz-input id="Lastname" name="lastname" formControlName="lastname" />
        </nz-form-control>
      </nz-form-item>
      <!-- Matricule -->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="Matricule">Matricule</nz-form-label>
        <nz-form-control nzErrorTip="Nom Obligatoir!">
          <input nz-input id="Matricule" name="Matricule" formControlName="matricule" />
        </nz-form-control>
      </nz-form-item>

      <!-- Cin-->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="cin">CIN</nz-form-label>
        <nz-form-control nzErrorTip="Cin Obligatoir!">
          <input nz-input id="Cin" name="Cin" formControlName="cin" />
        </nz-form-control>
      </nz-form-item>
      <!-- TEL -->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="phoneNumber">Numero de téléphone</nz-form-label>
        <nz-form-control [nzValidateStatus]="Form.controls['phoneNumber']" nzErrorTip="Please input your phone number!">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select formControlName="phoneNumber" class="phone-select">
                <nz-option nzLabel="+212" nzValue="+212"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
        <!-- Platform -->
      <nz-form-item nzFlex>
        <nz-form-label nzRequired nzFor="nom">Platfrom</nz-form-label>

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seléctionner un Platform" formControlName="searchValue"
          (ngModelChange)=onSearchChange($event)>
          <nz-option *ngFor="let item of service.listPlatform" [nzLabel]="item.label"
            [nzValue]="item.idPlatform"></nz-option>
        </nz-select>
      </nz-form-item>

    </div>
    <div nz-col class="gutter-row" nzSpan="6">
      <!-- Nom Complet -->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="nom">Prenom</nz-form-label>
        <nz-form-control nzErrorTip="Nom Obligatoir!">
          <input nz-input id="Firstname" name="=firstname" formControlName="firstname" />
        </nz-form-control>
      </nz-form-item>

      <!-- Address -->
      <nz-form-item>
        <nz-form-label nzRequired nzFor="Address">Address</nz-form-label>
        <nz-form-control nzErrorTip="Address Obligatoir!">
          <input nz-input id="Address" name="Address" formControlName="address">
        </nz-form-control>
      </nz-form-item>
      <!-- DATE DE NAISSANCE -->

      <nz-form-item>
        <nz-form-label nzFor="birthDate">Date de naissance</nz-form-label>
        <nz-form-control nzErrorTip="The input is not valid E-mail!">
          <nz-date-picker id="dateBirth" name="dateBirth" formControlName="dateBirth" nzPlaceHolder="yyyy/MM/dd"
            [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <!-- Nombre d'enfant -->
      <nz-form-item>
        <nz-form-label nzFor="nbre">Nombre d'enfants</nz-form-label>
        <nz-form-control>
          <label label="Nombre d'enfant">
            <nz-input-number placeholder="Nombre d'enfants" id="ChildrenNumber" name="ChildrenNumber"
              formControlName="childrenNumber"></nz-input-number>
          </label>
        </nz-form-control>
      </nz-form-item>

   <!-- ACTIVITY -->
      <nz-form-item nzFlex>
        <nz-form-label nzRequired nzFor="nom">Activiter</nz-form-label>

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seléctionner une Activiter" formControlName="searchValues"
          (ngModelChange)=onSearchChanges($event)>
          <nz-option *ngFor="let item of service.listActivity" [nzLabel]="item.label" [nzValue]="item.idActivity">
          </nz-option>
        </nz-select>
      </nz-form-item>



    </div>

    <div class="gutter-row" nzSpan="4" nz-row nzJustify="space-around" nzAlign="middle">

      <div class="row" style="margin-bottom:15px;">
        <div class="col-md-3">
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;"
            multiple accept=".png, .jpg, .jpeg">
          <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        </div>
        <div class="col-md-4">
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        </div>
      </div>
    </div>

  </div>

  <!-- BUTTON ADD -->
  <div nz-row nzJustify="center">
    <div nz-col nzSpan="6">
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" type="submit">Ajouter</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

</form>



<nz-modal [(nzVisible)]="isVisible" [nzFooter]="modalFooter">

  <nz-result nzStatus="success" nzTitle="Le Marchand est Ajoutez"
    nzSubTitle="Le Marchand est bien Ajouter vous pouvez Consuler La List Des Marchand ou Continuez L'ajout des Marchands">

  </nz-result>

  <ng-template #modalFooter>

    <button nz-button (click)="handleOk()" nzType="primary">Ajouter</button>
    <button nz-button routerLink='/listmarchand'>List Des Marchands</button>
  </ng-template>
</nz-modal>
