.login-form {
    max-width: 300px;
    margin-left: 180px !important;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
 
  
  .inner-content[_ngcontent-gdh-c227] {
    padding: 24px;
    background: rgb(117, 10, 10) !important;
    /* min-height: 360px; */
}