<nz-layout class="layout">
    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="nz-sider">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">

        <li nz-submenu nzTitle="Marchand" nzIcon="user">
          <ul>
            <li nz-menu-item routerLink ='/addmarchand'><i nz-icon nzType="plus" nzTheme="outline"></i>Nouveau</li>
            <li nz-menu-item routerLink ='/listmarchand'><i nz-icon nzType="unordered-list" nzTheme="outline"></i>Liste</li>
          </ul>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="minus"></i>
          <span>Resirvation</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="minus"></i>
          <span>Position</span>
        </li>

      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header></nz-header>
      <nz-content>
        <div class="inner-content">
          content
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>PCP ©2021</nz-footer>
    </nz-layout>
  </nz-layout>
