<!-- <input nz-input id="Matricule" name="Matricule" formControlName="matricule" /> -->
<form nz-form [nzLayout]="'vertical'" autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit()" [formGroup]="Form">

  <div nz-row [nzGutter]="{ xs: 8, sm: 6, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" nzSpan="2">

 
    </div>
    <div nz-col class="gutter-row" nzSpan="5">
      <!-- Amount -->
      <nz-form-item>
        <nz-form-label nzFor="Matricule">Amount</nz-form-label>
        <nz-form-control nzErrorTip="Amount Obligatoir!">
          <input nz-input id="amount" name="amount" formControlName="amount" />
        </nz-form-control>
      </nz-form-item>

      <!-- Fees-->
      <nz-form-item>
        <nz-form-label nzFor="cin">Fees</nz-form-label>
        <nz-form-control nzErrorTip="Cin Obligatoir!">
          <input nz-input id="fees" name="fees" formControlName="fees" />
        </nz-form-control>
      </nz-form-item>
         <!-- Search Marchand -->

         <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="nom">Marchand</nz-form-label>
  
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seléctionner un Marchand" formControlName="searchValue"
            (ngModelChange)=onSearchChange($event)>
            <nz-option *ngFor="let item of service.list" [nzLabel]="item.lastname+' '+item.firstname"
              [nzValue]="item.idMerchant"></nz-option>
          </nz-select>
        </nz-form-item>
  <!-- BUTTON ADD -->
  <div nz-row nzJustify="center">
    <div nz-col nzSpan="6">
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" type="submit">Ajouter</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
    </div>
    <div nz-col class="gutter-row" nzSpan="3">

 
    </div>
    <div nz-col class="gutter-row" nzSpan="10"  nzJustify="center"> 
      <img nz-image zFlex="auto" nzSrc="assets/reception.png" alt="" style="  max-width: 100%;
        max-height: 100%;" />
    </div>
  </div>


</form>

<!-- <div class="example-input">
  <input placeholder="try to type \`b\`" nz-input [(ngModel)]="inputValue" (ngModelChange)="onChange($event)" [nzAutocomplete]="auto" />
  <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
</div> -->
<!-- //////////////////////// -->
<nz-table #fixedTable [nzScroll]="{ x: '1150px', y: '240px' }">
  <thead>
    <tr>
      <th nzLeft>Marchand</th>
      <th>Amount</th>
      <th>Token</th>
      <th nzRight>status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of Pservice.list">
      <td>{{data.merchant?.firstname + ' ' + data.merchant?.lastname }}</td>
      <td>{{data.amount }}</td>
      <td>{{data.token }}</td>
      <td nzRight>
        <ng-container *ngIf="data.status == false">
          <button class="notPaid" nz-button nzType="default">En cours</button>

        </ng-container>
        <ng-container *ngIf="data.status == true">
          <button class="Paid" nz-button nzType="default">Payé</button>
        </ng-container>
        <!-- <td nzRight>{{data.status}}</td>  -->
        <!-- <td nzRight>
        <a>action</a>
      </td> -->
    </tr>
  </tbody>
</nz-table>
