<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null"  >
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="Marchand" nzIcon="user">
          <ul>
            <li nz-menu-item></li>
            <li nz-menu-item></li>
            <li nz-menu-item></li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Reservation" nzIcon="team">
          <ul>
            <li nz-menu-item> 1</li>
            <li nz-menu-item> 2</li>
          </ul>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="file"></i>
          <span>File</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
      </nz-header>

      <nz-content>
     <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" #searchText nz-input placeholder="input search text"  Green   (keyup.enter)="search(searchText.value)"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <button nz-button nzType="primary" routerLink ='/addmarchand'>Ajouter Marchand</button>

        <div class="inner-content">
            <nz-table #editRowTable #headerTable nzBordered [nzData]="listOfData" [nzPageSize]="6" [nzScroll]="{ y: '640px' }">
                <thead>
                  <tr>
                    <th >Matricule</th>
                    <th>Nom Complet</th>
                    <th nzWidth="200px">Address</th>
                    <th >CIN</th>
                    <th>N° Telephone</th>
                    <th>Activiter</th>
                    <th>Status</th>
                    <th >Date de Naissance</th>
                    <th >Solde</th>
                    <th >Service</th>
                    <th nzWidth="90px">Details</th>
                    <th nzWidth="90px">Modifier</th>
                    <th nzWidth="90px">suprimer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of editRowTable.data">
                    <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
                        <td>{{ data.matricul }}</td>
                      <td>{{ data.nom }}</td>
                      <td>{{ data.adress }}</td>
                      <td>{{ data.cin }}</td>
                      <td>{{ data.ntel }}</td>
                      <td>{{ data.activiter }}</td>
                      <td>{{ data.status }}</td>
                      <td>{{ data.datenaissance }}</td>
                      <td>{{ data.soldecourant }}</td>
                      <td>{{ data.service }}</td>
                      <td><a (click)="startEdit(data.id)"><i nz-icon nzType="eye" nzTheme="outline"></i></a></td>
                      <td><a (click)="startEdit(data.id)"><i nz-icon nzType="edit" nzTheme="outline"></i></a></td>
                      <td><a (click)="startEdit(data.id)"><i nz-icon nzType="delete" nzTheme="outline"></i></a></td>
                    </ng-container>
                    <ng-template #editTemplate>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.matricul" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.nom" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.adress" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.cin" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.ntel" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.activiter" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.status" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.datenaissance" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.soldecourant" /></td>
                      <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.service" /></td>
                      <td>
                        <a (click)="saveEdit(data.id)" class="save">Enrgistrer</a>
                        <a nz-popconfirm nzPopconfirmTitle="vous etes sur?" (nzOnConfirm)="cancelEdit(data.id)">Annuler</a>
                      </td>
                    </ng-template>
                  </tr>
                </tbody>
              </nz-table>
          
        </div>
      </nz-content>
      <nz-footer>PCP 2021 </nz-footer>
    </nz-layout>
  </nz-layout>